

.wrapper {
    /*position:fixed;*/
    z-index:1000;
    padding: 0;
    background: black;
    font-family: "Times New Roman", Georgia, Serif;
    position: absolute;
    width: 700px;
    margin: 0 auto;
    bottom:35%;
}

.wrapper .text p {
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-size: 98px;
    letter-spacing: 1px;
}

.text {
    position: absolute;
    top: 40px;
    left: 100px;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background: transparent;
    text-shadow: 0px 10px 10px rgb(0, 0, 0);
    z-index: 1002;
    -webkit-animation: shadow 6.0s ease-in-out infinite;
    animation: shadow 6.0s ease-in-out infinite;
}

.light {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    border-radius: 100px;
    z-index: 1001;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation: light 6.0s ease-in-out infinite;
    animation: light 6.0s ease-in-out infinite;
}

.light.two {
    z-index: 2;
    opacity: 0.7;
}

@-webkit-keyframes light {
    0% {
        left: 45px;
    }
    50% {
        left: 500px;
    }
    100% {
        left: 45px;
    }
}

@keyframes light {
    0% {
        left: 45px;
    }
    50% {
        left: 500px;
    }
    100% {
        left: 45px;
    }
}

@-webkit-keyframes shadow {
    0% {
        text-shadow: -9px 2px 5px rgb(0, 0, 0);
    }
    50% {
        text-shadow: 9px 2px 5px rgb(0, 0, 0);
    }
    100% {
        text-shadow: -9px 2px 5px rgb(0, 0, 0);
    }
}

@keyframes shadow {
    0% {
        text-shadow: -9px 2px 5px rgb(0, 0, 0);
    }
    50% {
        text-shadow: 9px 2px 5px rgb(0, 0, 0);
    }
    100% {
        text-shadow: -9px 2px 5px rgb(0, 0, 0);
    }
}
.animation{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    box-sizing:border-box;
    z-index:999;
    background-color:black;
    perspective:700px;
}
.animation img{
    transition:all 2s ease;
    position:absolute;
    width:30%;
}
.animation img:nth-child(1){
    transform:rotateY(0deg) translateX(-8px);
    /*animation:innerRotate 3s;*/
}
.animation img:nth-child(2){
    transform:rotateY(0deg) translateX(-8px);
    /*animation:outerRotate 3s;*/
}
.animation img:nth-child(3){
    transform:translateX(-8px);
}
/*@keyframes innerRotate{*/
    /*0% {transform: rotateY(360deg)}*/
    /*100% {transform: rotateY(0deg)}*/
/*}*/
/*@keyframes outerRotate{*/
    /*0% {transform: rotateY(-360deg)}*/
    /*100% {transform: rotateY(0deg)}*/
/*}*/

body{
    height:auto !important;
}
.container-fluid {
    font-family: 'Arial', '微軟正黑體';
    padding: 0;
    margin: 0;
    perspective: 1px;
    perspective-origin: center;
    overflow-x:hidden;
    overflow-y:auto;
    height:100vh;
}

.container-fluid .area {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

}

/*----------------------section1----------------------------*/
.container-fluid .area1 {
    background: url(../images/cover1.jpg) 0 center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .area1 img {
    width: 10%;
    height: 30%;
}

/*----------------------section2----------------------------*/
.container-fluid .area2 {
    background: url(../images/s2background.jpg) center top no-repeat fixed;
    background-size: cover;
    /*height: 1200px;*/
    position: relative;
    text-align: center;

}

.svgpos {
    padding: 20% 0 5% 0;
    position: relative;
}

.svgpos .imgfront, .svgpos .imgmiddle {
    position: absolute;
    top:0;
    transition:all 1.5s ease;
}
.svgpos .imgback{
    position:absolute;
    top:0;
    transition:all 2s ease;
}
.area2 .svgpos .fronttop{
    left:0;
    right:0;
    transform:translateY(-30%);
    opacity:0;
}
.svgpos .fronttop.frontin {
    transform:translateY(0);
    opacity:1;
}
.svgpos .frontright{
    left:0;
    right:0;
    transform:translateX(20%);
    opacity:0;
}
.svgpos .frontright.frontin{
    transform:translateX(0);
    opacity:1;
}
.svgpos .frontleft{
    left:0;
    right:0;
    transform:translateX(-35%);
    opacity:0;
}
.svgpos .frontleft.frontin{
    transform:translateX(0);
    opacity:1;
}
.svgpos .imgmiddle{
    left:0;
    right:0;
    transform:translateY(-45%);
    opacity:0;
}
.svgpos .imgmiddle.middlein{
    transform:translateY(0);
    opacity:1;
}
.svgpos .backright{
    left:0;
    right:0;
    /*transform:translateX(40%);*/
    opacity:0;
}
.svgpos .backright.backin{
    /*transform:translateX(0);*/
    opacity:1;
}
.svgpos .backleft{
    left:0;
    right:0;
    /*transform:translateX(-50%);*/
    opacity:0;
}
.svgpos .backleft.backin{
    /*transform:translateX(0);*/
    opacity:1;
}

.svgpos .title1 {
    display: none;
    /*svg動畫*/
    margin: 0 auto;
}
.svgpos img{
    width:100%;
}

.title1.showTitle1 {
    /*svg動畫開始*/
    display: block;
}

.container-fluid .area2 .title1 {
    width: 30%;
    height: auto;
}

.container-fluid .area2 .words .words1 {
    margin: 0 auto;
    width: 40%;
    height: auto;
    padding: 5% 0 2% 0;
}

.container-fluid .area2 .words .words1 img {
    transition: transform 1s, filter 1s, opacity 1s, -webkit-transform 1s, -webkit-filter 1s;
    width: 100%;
    margin: 0 auto;
    transform: translateY(80px);
    filter: blur(16px);
    opacity: 0;
}

.container-fluid .area2 .words .words1 img.showWords {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
}

.container-fluid .area2 .section1pic1 {
    text-align: right;
}

.container-fluid .area2 .section1pic2 {
    text-align: left;
}

.container-fluid .area2 .section1pic1 img {
    transition: transform 1s, opacity 1s, filter 2s, -webkit-transform 1s, -webkit-filter 1s ease;
    width: 50%;
    transform: scale(0.7) translateX(55%);
    opacity: 0;
    filter:blur(16px);

}

.container-fluid .area2 .section1pic1 img.showPicRight {
    width: 50%;
    transform: scale(0.7) translateX(-16%);
    opacity: 1;
    filter:blur(0);

}

.container-fluid .area2 .section1pic2 img {
    transition: transform 1s, opacity 1s, filter 2s, -webkit-transform 1s, -webkit-filter 1s;
    width: 50%;
    transform: scale(0.7) translateX(-55%) translateY(-85%);
    opacity: 0;
    filter:blur(16px);

}

.container-fluid .area2 .section1pic2 img.showPicLeft {
    width: 50%;
    transform: scale(0.7) translateX(16%) translateY(-85%);
    opacity: 1;
    filter:blur(0);
}
.area2 .imgfrontbot, .area2 .imgbackbot{
    position:absolute;
    bottom:0;
    right:0;
}
.imgfrontbot img, .imgbackbot img{
    width:100%;
}
.area2 .imgfrontbot{
    transition:all 1.5s ease;
    transform:translateX(26%);
    opacity:0;
}
.area2 .imgfrontbot.frontbotin{
    transform:translateX(0);
    opacity:1;
}
.area2 .imgbackbot{
    transition:all 2s ease;
    opacity:0;
}

/*----------------------section3----------------------------*/
.container-fluid .area3 {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
}


.container-fluid .area3 .title2 {
    display:none;
    width: 45%;
    height: auto;
}

.container-fluid .area3 .s3top {
    background: url('../images/section3top.png') center top no-repeat;
    background-size: contain;
}

.container-fluid .area3 .s3pics {
    padding-bottom: 5%;
    text-align:left;
}

.container-fluid .area3 .s3pics img {
    width: 30%;
    padding: 3%;
}
/*.container-fluid .area3 .s3bottom{*/
    /*position:absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
/*}*/
.container-fluid .area3 .s3bottom img {
    width: 100%;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝s3動畫＝＝＝＝＝＝＝＝＝＝＝＝*/
.container-fluid .area3 .s3pics img.word2 {
    transition: transform 1s, filter 1s, opacity 1s, -webkit-transform 1s, -webkit-filter 1s;
    transform: translateY(80px)  translateX(50%);
    filter: blur(16px);
    opacity: 0;
}

.container-fluid .area3 .s3pics img.showWords2 {
    transform: translateY(0)  translateX(50%);
    filter: blur(0);
    opacity: 1;
}

.area3 .s3pics img.word3 {
    transition: transform 1s, filter 1s, opacity 1s, -webkit-transform 1s, -webkit-filter 1s;
    transform: translateY(80px) translateX(170%);
    filter: blur(16px);
    opacity: 0;
}
.container-fluid .area3 .s3pics img.showWords3{
    transform:translateY(0) translateX(170%);
    filter: blur(0);
    opacity: 1;
}

/*.container-fluid .area3 .s3pics img.showWords {*/
    /*transform: translateY(0)  translateX(40%);*/
    /*filter: blur(0);*/
    /*opacity: 1;*/
/*}*/

.container-fluid .area3 .s3pics img.s3_img1 {
    transition: transform 1s, opacity 1s, filter 2s, -webkit-transform 1s, -webkit-filter 1s;
    transform: translateX(55%);
    opacity: 0;
    filter:blur(16px);

}

.container-fluid .area3 .s3pics img.s3_img2 {
    transition: transform 1s, opacity 1s, filter 2s, -webkit-transform 1s, -webkit-filter 1s ease;
    transform: translateX(-55%);
    opacity: 0;
    filter:blur(16px);
}

.container-fluid .area3 .s3pics img.showPic_s3 {
    transform: translateX(0);
    opacity: 1;
    filter:blur(0);
}



/*----------------------area3 parallax----------------------------*/
.area3 .parallax_layer{
    position:absolute;
    top:23%;
    bottom:0;
    right:0;
    left:0;
}
.area3 .parallax_layer img{
    width:100%;
    transform-origin: center;
}
.area3 .parallax_layer0{
    transform:translateX(5%) translateZ(0px) scale(0.75);
    z-index:5;
}
.area3 .parallax_layer01{
    transform:translateX(4%) translateZ(0.2px) scale(0.6);
    z-index:6;
}
.area3 .parallax_layer02{
    transform:translateX(3%) translateZ(0.3px) scale(0.5);
    z-index:7;
}
.area3 .parallax_layer2{
    position:absolute;
    top:44%;
    right:0;
    bottom:0;
    left:0;
}
.area3 .parallax_layer2 img{
    width:100%;
    transform-origin: center;
}
.area3 .parallax_layer03 {
    transform:translateX(-6%) translateZ(0px) scale(0.9);
    z-index:5;
}
.area3 .parallax_layer04{
    transform:translateX(-5%) translateZ(-0.1px) scale(1);
    z-index:6;
}
.area3 .parallax_layer05{
    transform:translateX(-4%) translateZ(-0.3px) scale(1.1);
    z-index:7;
}
.area3 .a3_imgfronttop, .area3 .a3_imgbacktop{
    position:absolute;
    left:0;
    top:0;
}
.area3 .svgpos img{
    width:100%;
}
.area3 .a3_imgbacktop{
    transform:translateZ(-0.1px) scale(1.1);
    z-index:5;
}
.area3 .a3_imgfronttop{
    transform:translateZ(-0.3px) scale(1.4);
    z-index:6;
}

.area3 .a3_imgfrontbot, .area3 .a3_imgbackbot{
     position:absolute;
     right:0;
     bottom:0;
 }
.area3 .a3_imgfrontbot img, .area3 .a3_imgbackbot img{
    width:100%;
}
.area3 .a3_imgbackbot{
     transform:translateZ(0.1px) scale(0.9);
     z-index:5;
 }
.area3 .a3_imgfrontbot{
    transform:translateZ(0.3px) scale(0.7);
    z-index:6;
}
/*----------------------section4----------------------------*/
.container-fluid .area4 .title3 {
    width: 50%;
    height: auto;
    padding: 10% 0 5% 0;
    position: relative;
    display:none;
}

.container-fluid .area4 {
    position: relative;
    text-align: center;

}

.container-fluid .area4 .words img {
    transition: transform 1s, filter 1s, opacity 1s, -webkit-transform 1s, -webkit-filter 1s;
    width: 40%;
    height: auto;
    padding: 1% 0 10% 0;
    position: relative;
    transform:translateY(80px);
    filter:blur(16px);
    opacity:0;
}
.container-fluid .area4 .words img.showWords{
    transform:translateY(0);
    filter:blur(0);
    opacity:1;
}

.container-fluid .area4 .slideimg {
    height: 440px;
    background-position: 0px 50%;
    background: url('../images/section4slide.png') repeat-x 0;
    width: 100%;
    overflow: hidden;
    height:30vh;
}

.container-fluid .area4 .slideimg img {
    height: 50vh;

}
.area4 .a4_img{
    position:absolute;
}
.area4 .a4_img img{
    width:100%;
}
.area4 .a4_imgfrontleft, .area4 .a4_imgbackleft{
    left:0;
    top:0;
    right:0;
}
.area4 .a4_imgfrontleft2, .area4 .a4_imgbackleft2{
    left:0;
    top:30%;
    right:0;
}
.area4 .a4_imgfrontright, .area4 .a4_imgbackright{
    right:0;
    left:0;
    bottom:-20%;
}
.area4 .a4_imgfrontright2, .area4 .a4_imgbackright2{
    right:0;
    left:0;
    bottom:20%;
}
.area4 .a4_imgbackleft, .area4 .a4_imgbackleft2, .area4 .a4_imgbackright, .area4 .a4_imgbackright2{
     transform:translateZ(0.1px) scale(0.9);
     z-index:5;
}
.area4 .a4_imgfrontleft, .area4 .a4_imgfrontleft2, .area4 .a4_imgfrontright, .area4 .a4_imgfrontright2{
    transform:translateZ(0.3px) scale(0.7);
    z-index:6;
}



/*----------------------section5----------------------------*/
.container-fluid .area5 {
    background: url("../images/s5background.jpg") center 0 no-repeat fixed;
    background-size: 100% auto;
    height: 1110px;
    position: relative;
    text-align: center;
}

.container-fluid .area5 .words {
    padding: 20% 0 10% 0;
    position:absolute;
    right:0;
    left:0;
    bottom:15%;
    transform: translateZ(0.5px) scale(0.5);
}

.container-fluid .area5 .words img {
    width: 45%;
}

.container-fluid .area5 .lookbtn img {
    transition: all .5s;
    width: 10%;
}

.container-fluid .area5 .lookbtn a {
    cursor: pointer;
}

.container-fluid .area5 .lookbtn img:hover {
    transform: translate(0, 5px);
}

.lookbtn{
    position:absolute;
    bottom:10%;
    left:0;
    right:0;
}
/*----------------------section6----------------------------*/
.container-fluid .area6 {
    background: white;
    position: relative;
    text-align: center;
}

.container-fluid .area6 .s6img {
    padding: 15% 0 8% 0;
}

.container-fluid .area6 .s6img img {
    width: 20%;
}

.container-fluid .area6 .shopbtn {
    padding-bottom: 5%;
}

.container-fluid .area6 .shopbtn img {
    transition: all .5s;
    width: 10%;
}

.container-fluid .area6 .shopbtn a {
    cursor: pointer;
}

.container-fluid .area6 .shopbtn img:hover {
    transform: translate(0, 5px);
}

/*----------------------media----------------------------*/
@media screen and (max-width: 600px) {
    .container-fluid .area2 .section1pic1 img {

    }

    .container-fluid .area2 .section1pic2 img {

    }

    .container-fluid .area4 .slideimg {
        height: 20vh;
        background: url('../images/section4slide.png') repeat-x 0;
    }

    .container-fluid .area5 {
        background-size: cover;
        height: 100vh;
    }

    .container-fluid .area5 .words {
        padding: 45% 0 20% 0;
    }

    .container-fluid .area5 .words img {
        width: 60%;
    }

    .container-fluid .area5 .lookbtn img {
        width: 20%;
    }

    .container-fluid .area6 .shopbtn img {
        width: 20%;
    }

}