.overhide{
    overflow:hidden;
}

.stroke ul li:nth-child(5) a{
    color:rgb(204,169,112) !important;
}

.section-module.alphabet{
    background-image:url("../images/customize/alphabg.jpg");
    text-align:center;
    padding:70px 0 40px;
    box-sizing:border-box;
    background-size:cover;
}
.section-module{
    background-position:center top !important;
    background-repeat:no-repeat;
    float:none;
    margin:0 auto;
    width:100%;
    height:100%;
}
.section-module.alphabet .alphabet-bracelet{
    background-image:url("../images/customize/chain.png");
    background-repeat:no-repeat;
    background-position:center top;
    background-size:100%;
    min-width:1130px;
    width:1130px;
    height:100px;
    float:none;
    margin:60px auto 120px auto;
}
.section-module.alphabet .alphabet-bracelet img{
    margin-top:11px;
    padding-right:10px;
}
*{
    float:none;
}
.section-module.alphabet .text-container{
    margin-bottom:20px;
}
.text-container .topic{
    text-align: center;
    text-transform:uppercase;
    margin-bottom:40px;
    font-size:30px;
    line-height:1.2;
}
.text-container .extopic{
    font-size:16px;
    text-align:center;
    line-height:1.2;
    width:100%;
}
.designer-options .column{
    width:100%;
}
.designer-options .column .alphabet-input {
    margin:0 auto;
}
.input-container{
    width:370px;
    margin:0 auto 7px;
}
#alphabet-text{
    text-align:center;
    height:50px;
    line-height:50px;
    width:100%;
    font-size:15px;
    text-transform:uppercase;
}
.alphacont{
    overflow:hidden;
    min-width:1130px;
}

.buy_btn{
    position:relative;
    text-shadow:none !important;
    box-shadow:none !important;
    font-family:arial;

    background-image:none;
    color:black;
    width:200px;
    height:30px;

    transition:all 0.2s linear;
    border-radius:0px;
    font-size:16px;
    background-color:#c9e2e0;
    border:none;
}
.buy_btn:hover{
    /*color:white;*/
    background-color:white;
    border:solid 1px #9E9E9E;
}
.relacont{
    position:relative;
}
.cartsucc{
    font-size:12px;
    transition:all 0.3s linear;
    position:absolute;
    width:200px;
    /*border:solid 1px #9E9E9E;*/
    top:calc(50% - 13px);
    left:calc(50% - 100px);
    z-index:-1;
    color:black;
    background-color:white;
}

input:focus, textarea:focus, select:focus{
    outline:none;
}
