.slickslide{
    /*margin-top:50px;*/
    border: solid 15px #c9e2df;
}
.slickslide div img{
    margin:0 auto;
    width:95.9%;
}
.slick-dots{
    bottom:10px !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0!important;
}
#Scene ul{
    list-style-type:none;
    border:0;
    outline:0;
    vertical-align:top;
}
.container-fluid{
    padding-right:1.8%;
    padding-left:1.8%;
}
/*---------------------------!*打掉重練*!*/
#SceneList .item{
    width:100%;
    height:477px;
    border-top:15px solid white;
}
#SceneList{
    height:100%;
    min-height:400px;

}
#SceneList .item .arrivaltext{
    display:flex;
    height:350px;
    text-align:center;
    justify-content:center;
    align-items:center;
    float:right;
    width:30%;
}
#SceneList .item .arrivaltext h3{
    margin:0;
}
#SceneList .item .arrivalpic{
    width:70%;
    float:left;
}
#SceneList .item .arrivalpic .newarrival{
    margin:0;
    width:100%;
}
#SceneList .item .arrivalpic .newarrival img{
    width:100%;
}
/*----------------------flex-----------------------------*/

#Scene .item{
    display:flex;
}
#Scene .item .item1{
     display:flex;
     flex:2 2 auto;
 }
#Scene .item .item1 img{
    width:100%;
    flex:1 1 auto;
}
#Scene .item .item2 {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
/*---------------------------------------------------*/
section{
    margin-bottom:2.5%;
}

section img{
    width:100%;
}

.section1 .item .item1{
    width:77%;
    transform:translateX(-110%);
    opacity:0 ;
}
.section1 .item .item2{
    transition:all 0.5s linear;
    width:22%;
    transform:translateY(-100%);
}
.section1 .item .itemimg{
    float:left;
}
.hotitem .hotitem1{
    width: 47.4%;
}
.hotitem .hotitem2{
    width:16.3%;
}
.section2 .hotitem .hotitem3{
    width:33.3%;
    margin:0;
}
.hotitem .hotimg{
    float:left;
    margin:0px 1.5% 0px 0px;
}
.hotitem .hotitem2 .hot2{
    margin-top:4%;
}
.section3 .eventimg{
    margin:0px 1.5% 0px 0px;
    float:left;
}
.section3 .eventitem .eventitem1{
    width:33.2%;
}
.section3 .eventitem .eventitem2{
    width:30.6%;
}
.section3 .eventitem .eventitem3{
    width:33.2%;
    margin:0;
}
.section5 .lookbook .lbimg{
    width:25%;
    float:left;
}




