body{
    overflow-x:hidden;
}
::selection{
    background:none;
}
.stroke ul li:nth-child(3) a{
    color:rgb(204,169,112);
}

.container-fluid{
    min-width:1440px;
    text-align:center;
    position: relative;
}
.container-fluid .col-xs-6{
    position:absolute;
    min-width:600px;
    height:50%;
}
.container-fluid .wrap{
    min-width:600px;
}

/*---------------切換按鈕----------------*/

.switch_wrap{
    width: 40vh;
    height: 40vh;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -20vh;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateZ(45deg) scale(0.6);
    transition: all .3s ease;
    }
.switch_wrap:hover{
    transform: rotateZ(45deg) scale(0.8);
}
.switch_wrap .switch_btn{
    -ms-user-select:none !important;
    position: absolute;
    height: 20vh;
    width: 20vh;
    cursor: pointer;
    /*opacity: 0.9;*/
    font-family: 'Arial Black';
}
.switch_wrap .switch_top, .switch_wrap .switch_bottom{
    background: #c9e2df;
    color: white;
}
.switch_wrap .switch_right, .switch_wrap .switch_left{
    background: white;
}
.switch_word{
    position: absolute;
    transform: rotateZ(-45deg);
    font-size: 1.5vw;
    z-index: 999;
}
.switch_top_word{
    position: absolute;
    top: 49%;
    left: 29%;
}

.switch_right_word{
    position: absolute;
    top: 55%;
    left: 15%;
}
.switch_bottom_word{
    position: absolute;
    top: 28%;
    left: 5%;
}
.switch_left_word{
    position: absolute;
    top: 36%;
    left: 28%;
}
.switch_wrap .switch_top:hover, .switch_wrap .switch_bottom:hover{
    background: #bccbde;
    color: black;
}
.switch_wrap .switch_right:hover, .switch_wrap .switch_left:hover{
    background: #6e7c9c;
    color: white;
}

.switch_wrap .switch_top{}
.switch_wrap .switch_right{
    right: 0;
}
.switch_wrap .switch_bottom{
    right: 0;
    bottom: 0;
}
.switch_wrap .switch_left{
    left: 0;
    bottom: 0;
}


/*.green_bg{*/
    /*background: #c9e2df;*/
/*}*/
.container-fluid .img-cont{
    width:100%;
}
.container-fluid .img-cont .img-wrap{
    width:50%;
    margin:0 auto;
}
/*.container-fluid .wrap img{
    min-width:792px;
}*/
.container-fluid, .img-left, .img-right, .container-fluid .wrapleft, .container-fluid .wrapright{
    padding:0;
}

.img-left, .img-right{
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-fluid .wrapleft{
    float:right;
}
.container-fluid .wrapleft .close_pd_img{
    transition:all 0.5s ease;
    float:right;
    width: 100%;
    height:100%;
}
.container-fluid .wrapleft .close_pd, .container-fluid .wrapright .close_pd{
    padding: 0;
    transition:all 0.3s linear;
}
.container-fluid .wrapright{
    float:left;
}
.container-fluid .wrapright .close_pd_img{
    transition:all 0.5s ease;
    float:left;
    width: 100%;
    height:100%;
}

.styleright, .styleleft{
    position:absolute;
    top:0;
    bottom:0;
    z-index:5;
    background: #c9e2df;
}
.styleright{
    right:0;
}
.styleright img, .styleleft img{
    position:absolute;
    height:100%;
    width:100%;
    transition:all 0.2s linear;
}
.styleright img{
    right:0;
}
.styleleft img{
    left:0;
}

.pos1{
    left:0;
    top:0;
}
.pos2{
    left:50%;
    top:0;
}
.pos3{
    left:50%;
    top:50%;
}
.pos4{
    left:0;
    top:50%;
}
.footer-distributed{
    margin-top: 0 !important;
}

.container{
    height:880px;
    padding:0;
    left:8.33333333333333333%;
}

.wrap .close_pd .mask-wrap{
    height:100%;
    position:relative;
}

.wrap .close_pd .mask{
    width:100%;
    height:100%;
    position:absolute;
    /*z-index:98;*/
    background-color:rgba(0,0,0,0);
    /*display:none;*/
    transition:all 0.5s linear;
    z-index:-1;
    line-height:70px;
}
.wrap .close_pd .mask img{
    padding-top:6%;
}

.wrap .close_pd:hover .mask{
    /*display:block;*/
    z-index:98;
    background-color:rgba(0,0,0,0.7);
}

.mask h3, .mask h4{
    color:white;
    margin: 0;
    padding-top: 5px;
}

.mask h3, .mask h4, .mask img{
    transition:all 0.5s linear;
    opacity:0;
}
.wrap .close_pd:hover .mask a, .wrap .close_pd:hover .mask h3, .wrap .close_pd:hover .mask h4, .wrap .close_pd:hover .mask img{
    opacity:1;
}
/*----------商品描述----------*/
.mask h4{
    font-size: 16px;
    font-weight: 400;
}
.mask a{
    text-shadow:none !important;
    box-shadow:none !important;
    font-family:arial;
    /*background-color:white;*/
    background-image:none;
    color:black;
    width:200px;
    /*border:solid 1px #9E9E9E;*/
    transition:all 0.2s linear;
    border-radius:0px;
    background-color:#c9e2e0;
    /*color:white;*/
    border:none;
}

.con {
    font-family: "lucida grande","lucida sans unicode",lucida,"Droid Sans Fallback",helvetica,STHeiti Light,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",PingFangSC-Regular,sans-serif;
    box-sizing: border-box;
    position: relative;
    width: 150px;
    height: 100px;
    z-index:999;
}
.consh1{
    top:15%;
    left:25%;
}

.dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    /*margin-top: -16px;*/
    /*margin-left: -16px;*/
    background-color :white;
    border-radius: 50%;
    opacity: 0.6;
}

.ring1,
.ring2,
.ring3,
.ring4,
.ring5,
.ring6
{
    display: inline-block;
    position:absolute;
    top: 67%;
    left: 61%;
    width: 1em;
    height: 1em;
    margin: -1em auto auto -1em;
    transform-origin: 50% 50%;
    border-radius:50%;
    border:1px solid white;
    opacity:0;
    animation: ring1 5s ease-out infinite;
}

.ring2 {
    animation-delay: 2s;
}

.ring3 {
    animation-delay: 5s;
}

.ring4 {
    animation-delay: 8s;
}

.ring5 {
    animation-delay: 11s;
}

.ring6 {
    animation-delay: 14s;
}


@keyframes ring1 {
    0% {
        transform: scale(1);
        opacity:0.8;
    }
    45% {
        transform: scale(1.75);
        opacity:0;
    }
}