.container-fluid .check_menu_group ul {
    margin: 0;
    padding: 0;
}

.container-fluid .check_menu_group ul li {
    list-style-type: none;
    color: #57527E;
    height: 30px;
}

.container-fluid .grid-item{
    height:335px;
    min-width:200px;
}

.container-fluid .product_wrap{
    padding-right:10%;
}

.check_menu_group {
    padding: 0 0 5% 25%;
}

.check_menu_group .check_title {
    padding-bottom: 2%;
}

.check_menu_group ul li label {
    font-weight: 300;
    font-size: 80%;
    vertical-align: middle;
    line-height: 30px;
}

.check_menu_group ul li {
    width: 60%;
    margin: 5px;
}

.check_menu_group ul li:hover {
    background-color: #f3f3f3;
}
.container-fluid nav{
    width:80%;
    text-align:center;
}

/*-----------------------商品內容-----------------------*/
.product_box {
    text-align: center;
    margin-bottom: 15%;
}

.product_box .product_pic img {
    width: 200px;
    height: auto;
    border: solid 1px #f3f3f3;
}

.product_box .product_name {
    margin: 5px auto;
    font-size: 16px;
    font-weight: 400;
    width:200px;
    text-align:center;
}

.product_box .price {
    margin: 5px auto;
    color: #8a8a8a;
    font-size: 14px;
    font-weight: 400;
    width:200px;
}
.buy_btn{
    position:relative;
    text-shadow:none !important;
    box-shadow:none !important;
    font-family:arial;
    background-color:white;
    background-image:none;
    color:black;
    width:200px;
    border:solid 1px #9E9E9E;
    transition:all 0.2s linear;
    border-radius:0px;
}
.buy_btn:hover{
    background-color:#c9e2e0;
    /*color:white;*/
    /*border:none;*/
}
.grid-item { width: 20%; }
.button-group ul li{
    width:200px;
    text-align:left;
    padding-left:15px;
}

.button-group ul li:hover{
    background-color:rgba(201, 226, 224, 0.3);
}

.goTop{
    border-width:0;
    cursor:pointer;
    display:block;
    position:fixed;
    width:50px;
    height:50px;
    z-index:99999;
    right:7%;
    bottom:0%;
    background-color:#c9e2e0;
    text-align:center;
    border-radius:50%;
    transition:all 0.3s linear;
    opacity:0;
}
.goTop:focus{
    outline:none;
}
.goTop:hover{
    background-color:black;
}
.goTop .label{
    padding:0;
    height:18px;
    margin:auto;
    overflow:hidden;
}
nav.stroke ul li:nth-child(2) a{
    color:rgb(204,169,112);
}
 /*.relacont{*/
     /*position:relative;*/
 /*}*/
 .cartsucc{
     font-size:12px;
     transition:all 0.3s linear;
     position:absolute;
     width:200px;
     /*border:solid 1px #9E9E9E;*/
     top:0;
     bottom:0;
     right:0;
     left:-1px;
     z-index:-1;
     color:black;
     background-color:white;
 }

/*--------------media Q--------------------*/
@media screen and (max-width: 600px) {
    .container-fluid .product_box .product_pic img {
        width: 100%;
    }

    .check_menu_group {
        padding: 0;
        display:none;

    }
    .grid-item{
        left:20% !important;
    }
    .buy_btn{
        width:170px;
    }
    h3, h4{
        text-align:left !important;
    }

    .check_menu_group ul li {
        width: 100%;
        margin: 5px;
    }

    .check_menu_group ul li label {
        padding-left: 0;
    }

    .container-fluid .product_wrap {
        padding-top: 5%;
        padding-right:0;
    }
    .container-fluid .col-xs-6{
        height:245px;
    }

    .check_menu_group{
        display:none;
    }

    .product_box .product_name {

        font-size: 14px;
        font-weight: 400;
    }

    .product_box .price {

        font-size: 12px;
        font-weight: 400;
    }

}